*{
	margin: 0;
	padding: 0;
}

html, body {
  align-items: center;
  background: #333;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.send {
  background: none;
  color: white;
  border: 1px solid #45981B;
  border-radius: 70px;
  box-shadow: 0 0 0 0 rgba(69, 152, 27, 0.5);
  cursor: pointer;
  font-size: 20px;
  min-height: 65px;
  min-width: 65px;
  outline: none;
  padding: 15px 70px;
  transition: background, padding 500ms ease-in-out;
}
.send.is-loading {
    animation: pulse 1.5s infinite;
    padding: 15px 17px;
  }

.send.is-success {
    background: #45981B;
    padding: 15px 17px;
  }


svg {
  width: 0;
  height: 0;
}

.is-success svg {
  height: 30px;
  width: 30px;
}

.check {
  stroke-dasharray: 130px 130px;
  stroke-dashoffset: 130px;
  transition: stroke-dashoffset 500ms ease-in-out;
}

.is-loading span, .is-success span {
  display: none;
}

.is-success .check {
  stroke-dashoffset: 0px;
}

@keyframes pulse {
  0% {
    transform: scale(.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(69, 152, 27, 0);
  }
  100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
  }
}

#reset {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: none;
  border: 1px solid white;
  font-size: 14px;
  color: white;
  padding: 5px 20px;
}
